@{
    ViewBag.Title = "Main Page";
}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

    <style>
        .3_14 {
            overflow: hidden;
        }

        .e3_14 {
            background-color: rgba(255, 255, 255, 1);
            width: 1920px;
            height: 2114px;
            position: absolute;
        }

        .e3_20 {
            background-color: rgba(248.0000004172325, 249.00000035762787, 249.00000035762787, 1);
            width: 1920px;
            height: 50px;
            position: absolute;
            left: 214px;
            top: 0px;
        }

        .e3_22 {
            background-color: rgba(255, 255, 255, 1);
            opacity: 0.5;
            width: 787px;
            height: 35px;
            position: absolute;
            left: 608px;
            top: 7px;
        }

        .3_22 {
            border: 1px solid rgba(85.0000025331974, 79.33333620429039, 79.33333620429039, 1);
        }

        .e3_24 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.5;
            width: 47px;
            height: 17px;
            position: absolute;
            left: 617px;
            top: 19px;
            font-family: Inter;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e3_28 {
            width: 215px;
            height: 33px;
            position: absolute;
            left: 1408px;
            top: 12px;
            background-image: url(https://cdn.discordapp.com/attachments/638832341753790471/1022459570590846986/image_1.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .e3_32 {
            color: rgba(0, 0, 0, 1);
            width: 132px;
            height: 28px;
            position: absolute;
            left: 273px;
            top: 12px;
            text-align: center;
            font-size: 22px;
            letter-spacing: 0;
        }

        .e3_37 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 157px;
            height: 33px;
            position: absolute;
            left: 314px;
            top: 73px;
        }

        .e3_43 {
            color: rgba(0, 0, 0, 1);
            width: 46px;
            height: 15px;
            position: absolute;
            left: 325px;
            top: 83px;
            font-family: Inter;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e4_51 {
            transform: rotate(-90.00000000000001deg);
            opacity: 0.5;
            width: 1419.0003662109375px;
            height: 0px;
            position: absolute;
            left: 470.5003662109375px;
            top: 1419.000244140625px;
        }

        .4_51 {
            border: 1px solid rgba(0, 0, 0, 1);
        }

        .e4_52 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 53px;
            height: 19px;
            position: absolute;
            left: 325px;
            top: 122px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e7_57 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 44px;
            height: 19px;
            position: absolute;
            left: 351px;
            top: 216px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e7_58 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 37px;
            height: 19px;
            position: absolute;
            left: 351px;
            top: 182px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e13_163 {
            width: 101px;
            height: 38px;
            position: absolute;
            left: 1165px;
            top: 74px;
        }

        .e7_76 {
            background-color: rgba(10.000000353902578, 149.00000631809235, 255, 1);
            width: 101px;
            height: 38px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .e12_125 {
            color: rgba(255, 255, 255, 1);
            width: 101px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 11px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e8_81 {
            color: rgba(0, 0, 0, 1);
            width: 207px;
            height: 24px;
            position: absolute;
            left: 478px;
            top: 74px;
            font-family: Inter;
            text-align: center;
            font-size: 28px;
            letter-spacing: 0;
        }

        .e12_124 {
            width: 301px;
            height: 564px;
            position: absolute;
            left: 1293px;
            top: 74px;
        }

        .e12_117 {
            width: 301px;
            height: 564px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .e8_92 {
            background-color: rgba(253.0000001192093, 247.00000047683716, 226.0000017285347, 1);
            width: 301px;
            height: 558.052734375px;
            position: absolute;
            left: 0px;
            top: 5.9472761154174805px;
        }

        .e8_97 {
            background-color: rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
            width: 301px;
            height: 40.63971710205078px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .8_97 {
            border: 1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
        }

        .e8_105 {
            background-color: rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
            width: 301px;
            height: 40.63971710205078px;
            position: absolute;
            left: 0px;
            top: 143.725830078125px;
        }

        .8_105 {
            border: 1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
        }

        .e12_116 {
            background-color: rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
            width: 301px;
            height: 40.63971710205078px;
            position: absolute;
            left: 0px;
            top: 367.7398986816406px;
        }

        .12_116 {
            border: 1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
        }

        .e8_99 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 210px;
            height: 13.87697696685791px;
            position: absolute;
            left: 39px;
            top: 52.534271240234375px;
            font-family: Inter;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e8_103 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 210px;
            height: 13.87697696685791px;
            position: absolute;
            left: 39px;
            top: 69.3848876953125px;
            font-family: Inter;
            text-align: left;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e8_96 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 93px;
            height: 16.850614547729492px;
            position: absolute;
            left: 9px;
            top: 11.894552230834961px;
            font-family: Inter;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e8_107 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 120px;
            height: 12.885764122009277px;
            position: absolute;
            left: 9px;
            top: 155.62039184570312px;
            font-family: Inter;
            text-align: left;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e12_120 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 120px;
            height: 12.885764122009277px;
            position: absolute;
            left: 9px;
            top: 379.63446044921875px;
            font-family: Inter;
            text-align: left;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e8_104 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 251px;
            height: 30.72759246826172px;
            position: absolute;
            left: 39px;
            top: 97.13883972167969px;
            font-family: Inter;
            text-align: left;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e8_109 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 262px;
            height: 46.58699417114258px;
            position: absolute;
            left: 39px;
            top: 198.24252319335938px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e8_111 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 262px;
            height: 30.72759246826172px;
            position: absolute;
            left: 39px;
            top: 260.6889343261719px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e10_115 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 232px;
            height: 28.745166778564453px;
            position: absolute;
            left: 39px;
            top: 323.13531494140625px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e12_122 {
            color: rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
            width: 181px;
            height: 26.762741088867188px;
            position: absolute;
            left: 38px;
            top: 422.256591796875px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e13_162 {
            width: 347px;
            height: 36px;
            position: absolute;
            left: 919px;
            top: 137px;
        }

        .e7_69 {
            background-color: rgba(255, 255, 255, 1);
            width: 83px;
            height: 36px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .7_69 {
            border: 0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
        }

        .e7_70 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 115px;
            height: 36px;
            position: absolute;
            left: 83px;
            top: 0px;
        }

        .7_70 {
            border: 0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
        }

        .e7_71 {
            background-color: rgba(255, 255, 255, 1);
            width: 39px;
            height: 36px;
            position: absolute;
            left: 198px;
            top: 0px;
        }

        .7_71 {
            border: 0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
        }

        .e7_72 {
            background-color: rgba(255, 255, 255, 1);
            width: 51px;
            height: 36px;
            position: absolute;
            left: 237px;
            top: 0px;
        }

        .7_72 {
            border: 0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
        }

        .e7_73 {
            background-color: rgba(255, 255, 255, 1);
            width: 59px;
            height: 36px;
            position: absolute;
            left: 288px;
            top: 0px;
        }

        .7_73 {
            border: 0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
        }

        .e12_128 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 83px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e12_129 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.800000011920929;
            width: 115px;
            height: 15px;
            position: absolute;
            left: 83px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e12_130 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 39px;
            height: 15px;
            position: absolute;
            left: 198px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e12_131 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 51px;
            height: 15px;
            position: absolute;
            left: 237px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e12_133 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 59px;
            height: 15px;
            position: absolute;
            left: 288px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_182 {
            width: 682px;
            height: 98px;
            position: absolute;
            left: 581px;
            top: 210px;
        }

        .e12_138 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 398px;
            height: 15px;
            position: absolute;
            left: 81px;
            top: 0px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e12_147 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 81px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e12_148 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 47px;
            height: 22px;
            position: absolute;
            left: 325px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e12_149 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 147px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e12_150 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 107px;
            height: 22px;
            position: absolute;
            left: 212px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e12_151 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 10px;
            position: absolute;
            left: 81px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e12_154 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 8px;
            position: absolute;
            left: 147px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e12_156 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 107px;
            height: 10px;
            position: absolute;
            left: 212px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e12_157 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 47px;
            height: 9px;
            position: absolute;
            left: 325px;
            top: 30px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e12_158 {
            color: rgba(0, 0, 0, 1);
            width: 42px;
            height: 12px;
            position: absolute;
            left: 18px;
            top: 2px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_173 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 53px;
            height: 12px;
            position: absolute;
            left: 10px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e13_167 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 60px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 28px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_176 {
            background-color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 33px;
            height: 23px;
            position: absolute;
            left: 27px;
            top: 75px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .e14_177 {
            color: rgba(255, 255, 255, 1);
            width: 33px;
            height: 15px;
            position: absolute;
            left: 27px;
            top: 79px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_179 {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 429px;
            top: 48px;
            background-image: url(https://cdn.discordapp.com/attachments/638832341753790471/1022139355244007565/image_2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .e14_180 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 87px;
            height: 12px;
            position: absolute;
            left: 451px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_181 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 135px;
            height: 12px;
            position: absolute;
            left: 547px;
            top: 52px;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_203 {
            width: 672px;
            height: 98px;
            position: absolute;
            left: 588px;
            top: 345px;
        }

        .e14_204 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 398px;
            height: 15px;
            position: absolute;
            left: 71px;
            top: 0px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e14_205 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 71px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_206 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 47px;
            height: 22px;
            position: absolute;
            left: 315px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_207 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 137px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_208 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 107px;
            height: 22px;
            position: absolute;
            left: 202px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_209 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 10px;
            position: absolute;
            left: 71px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_210 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 8px;
            position: absolute;
            left: 137px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_211 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 107px;
            height: 10px;
            position: absolute;
            left: 202px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_212 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 47px;
            height: 9px;
            position: absolute;
            left: 315px;
            top: 30px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_213 {
            color: rgba(0, 0, 0, 1);
            width: 48px;
            height: 12px;
            position: absolute;
            left: 8px;
            top: 2px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_214 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 53px;
            height: 12px;
            position: absolute;
            left: 0px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_216 {
            background-color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 33px;
            height: 23px;
            position: absolute;
            left: 17px;
            top: 75px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .e14_217 {
            color: rgba(255, 255, 255, 1);
            width: 33px;
            height: 15px;
            position: absolute;
            left: 17px;
            top: 79px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_218 {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 419px;
            top: 48px;
            background-image: url(https://cdn.discordapp.com/attachments/638832341753790471/1022139355244007565/image_2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .e14_219 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 87px;
            height: 12px;
            position: absolute;
            left: 441px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_220 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 135px;
            height: 12px;
            position: absolute;
            left: 537px;
            top: 52px;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_248 {
            width: 672px;
            height: 98px;
            position: absolute;
            left: 588px;
            top: 482px;
        }

        .e14_249 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 398px;
            height: 15px;
            position: absolute;
            left: 71px;
            top: 0px;
            font-family: Inter;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
        }

        .e14_250 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 71px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_251 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 47px;
            height: 22px;
            position: absolute;
            left: 315px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_252 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 60px;
            height: 22px;
            position: absolute;
            left: 137px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_253 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            width: 107px;
            height: 22px;
            position: absolute;
            left: 202px;
            top: 25px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .e14_254 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 10px;
            position: absolute;
            left: 71px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_255 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 60px;
            height: 8px;
            position: absolute;
            left: 137px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_256 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 107px;
            height: 10px;
            position: absolute;
            left: 202px;
            top: 31px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_257 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 47px;
            height: 9px;
            position: absolute;
            left: 315px;
            top: 30px;
            font-family: Inter;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_258 {
            color: rgba(0, 0, 0, 1);
            width: 48px;
            height: 12px;
            position: absolute;
            left: 8px;
            top: 2px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_259 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 53px;
            height: 12px;
            position: absolute;
            left: 0px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_260 {
            background-color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 36px;
            height: 23px;
            position: absolute;
            left: 14px;
            top: 75px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .e14_261 {
            color: rgba(255, 255, 255, 1);
            width: 36px;
            height: 15px;
            position: absolute;
            left: 14px;
            top: 79px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_262 {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 419px;
            top: 48px;
            background-image: url(https://cdn.discordapp.com/attachments/638832341753790471/1022139355244007565/image_2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .e14_263 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            width: 87px;
            height: 12px;
            position: absolute;
            left: 441px;
            top: 52px;
            font-family: Inter;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_264 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.699999988079071;
            width: 135px;
            height: 12px;
            position: absolute;
            left: 537px;
            top: 52px;
            text-align: left;
            font-size: 10px;
            letter-spacing: 0;
        }

        .e14_223 {
            width: 67px;
            height: 22px;
            position: absolute;
            left: 574px;
            top: 370px;
        }

        .e14_215 {
            color: rgba(47.0000009983778, 111.00000098347664, 68.00000354647636, 1);
            width: 67px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 3px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_221 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
            width: 67px;
            height: 22px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .14_221 {
            border: 1px solid rgba(47.0000009983778, 111.00000098347664, 68.00000354647636, 1);
        }

        .e14_265 {
            width: 67px;
            height: 22px;
            position: absolute;
            left: 574px;
            top: 507px;
        }

        .e14_266 {
            color: rgba(47.0000009983778, 111.00000098347664, 68.00000354647636, 1);
            width: 67px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 3px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }

        .e14_267 {
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
            width: 67px;
            height: 22px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .14_267 {
            border: 1px solid rgba(47.0000009983778, 111.00000098347664, 68.00000354647636, 1);
        }

        .e14_271 {
            width: 299px;
            height: 46px;
            position: absolute;
            left: 1295px;
            top: 638px;
        }

        .e14_269 {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
            opacity: 0.699999988079071;
            width: 299px;
            height: 46px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .14_269 {
            border: 1px solid rgba(0, 0, 0, 1);
        }

        .e14_270 {
            color: rgba(0, 0, 0, 1);
            opacity: 0.6000000238418579;
            width: 96px;
            height: 17px;
            position: absolute;
            left: 15px;
            top: 14px;
            font-family: Inter;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0;
        }

        .e14_272 {
            width: 299px;
            height: 50px;
            position: absolute;
            left: 1295px;
            top: 684px;
        }

        .e14_273 {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(248.0000004172325, 249.00000035762787, 249.00000035762787, 1);
            opacity: 0.699999988079071;
            width: 299px;
            height: 50px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .14_273 {
            border: 1px solid rgba(0, 0, 0, 1);
        }

        .e14_274 {
            color: rgba(0, 116.00000068545341, 204.00000303983688, 1);
            opacity: 0.8999999761581421;
            width: 143px;
            height: 14px;
            position: absolute;
            left: 5px;
            top: 18px;
            font-family: Inter;
            text-align: center;
            font-size: 12px;
            letter-spacing: 0;
        }



        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
    <div class=e3_14>
        <div class="e3_20"></div><div class="e3_22"></div><span class="e3_24">Search</span><div class="e3_28"></div><span class="e3_32">Help Desk </span><div class="e3_37"></div><span class="e3_43">Home</span><div class="e4_51"></div><span class="e4_52">Private</span><span class="e7_57">Users</span><span class="e7_58">Tags</span><div class=e13_163><div class="e7_76"></div><span class="e12_125">Ask Question</span></div><span class="e8_81">Top Questions</span><div class=e12_124>
            <div class=e12_117>
                <div class="e8_92"></div><div class="e8_97"></div><div class="e8_105"></div><div class="e12_116"></div><span class="e8_99">I spent two years trying to what</span><span class="e8_103">Backstage does for free</span><span class="e8_96">The help Blog</span><span class="e8_107">Featured on Meta</span><span class="e12_120">Hot Meta Posts</span><span class="e8_104">
                    A serial entrepreneur finally embraces
                    open source
                </span><span class="e8_109">
                    Planned maintenance scheduled for
                    Wednesday, 21 September, 00:30-03:00
                    UTC...
                </span><span class="e8_111">
                    Recent Color Contrast Changes and
                    Acessibility Updates
                </span><span class="e10_115">
                    Should I explain other people’s code only
                    answers?
                </span><span class="e12_122">
                    Are pastebin links acceptable in
                    comments?
                </span>
            </div>
        </div><div class=e13_162><div class="e7_69"></div><div class="e7_70"></div><div class="e7_71"></div><div class="e7_72"></div><div class="e7_73"></div><span class="e12_128">Interesting</span><span class="e12_129">Bountied</span><span class="e12_130">Hot</span><span class="e12_131">Week</span><span class="e12_133">Month</span></div><div class=e14_182><span class="e12_138">Android Emulator, graphical  glytches on Windows 11</span><div class="e12_147"></div><div class="e12_148"></div><div class="e12_149"></div><div class="e12_150"></div><span class="e12_151">Windows</span><span class="e12_154">Graphics</span><span class="e12_156">Android-emulator</span><span class="e12_157">Nvidia</span><span class="e12_158">2 votes</span><span class="e14_173">57 views</span><span class="e13_167">0 Answers</span><div class="e14_176"></div><span class="e14_177">+50</span><div class="e14_179"></div><span class="e14_180">João Pedro Bretas</span><span class="e14_181">278 modified Sep 13 at 11:17 </span></div><div class=e14_203><span class="e14_204">Android Emulator, graphical  glytches on Windows 11</span><div class="e14_205"></div><div class="e14_206"></div><div class="e14_207"></div><div class="e14_208"></div><span class="e14_209">Windows</span><span class="e14_210">Graphics</span><span class="e14_211">Android-emulator</span><span class="e14_212">Nvidia</span><span class="e14_213">3 votes</span><span class="e14_214">57 views</span><div class="e14_216"></div><span class="e14_217">+50</span><div class="e14_218"></div><span class="e14_219">João Pedro Bretas</span><span class="e14_220">278 modified Sep 13 at 11:17 </span></div><div class=e14_248><span class="e14_249">Android Emulator, graphical  glytches on Windows 11</span><div class="e14_250"></div><div class="e14_251"></div><div class="e14_252"></div><div class="e14_253"></div><span class="e14_254">Windows</span><span class="e14_255">Graphics</span><span class="e14_256">Android-emulator</span><span class="e14_257">Nvidia</span><span class="e14_258">3 votes</span><span class="e14_259">57 views</span><div class="e14_260"></div><span class="e14_261">+100</span><div class="e14_262"></div><span class="e14_263">João Pedro Bretas</span><span class="e14_264">278 modified Sep 13 at 11:17 </span></div><div class=e14_223><span class="e14_215">3 Answers</span><div class="e14_221"></div></div><div class=e14_265><span class="e14_266">3 Answers</span><div class="e14_267"></div></div><div class=e14_271><div class="e14_269"></div><span class="e14_270">Custom Filters</span></div><div class=e14_272><div class="e14_273"></div><span class="e14_274">Create a custom filter</span></div>
    </div>
</body>
</html>









@*<div class="jumbotron">
    <h1>HELP SYSTEM</h1>
    <p class="lead">The Help System allows you to help your colleagues who are experiencing difficulties.</p>

    <div id="bg"></div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password" required />
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>



</div>


<div class="form-field">
    <a class="nav-link" href="@Url.Action("Signup","Home")">
        <button class="btn" type="submit">Sign Up</button>
</div>*@
