@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>HELP SYSTEM</h1>
    <p class="lead">O Help System permite ajudar outros colegas que estão com dificuldade.</p>

    <div id="bg"></div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Email / Username" required />
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password" required />
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Sign Up</button>
        </div>
    </form>



</div>

