@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <h1>HELP SYSTEM</h1>
    <p class="lead">The Help System allows you to help your colleagues who are experiencing difficulties.</p>

    <div id="bg"></div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Email / Username" required />
        </div>
        <div class="form-field">
            <input type="password" placeholder="Password" required />
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Sign Up</button>
        </div>
    </form>



</div>

