
@{
    ViewBag.Title = "Question";
}

<h2>Question</h2>

<form>
<TextArea name='txtArea' rows="8" cols="150">Insert your question</TextArea>


    <div class="form-field">
        <button class="btn" type="submit">Submit</button>
    </div>
</form>

