

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

    <style>


@{
    ViewBag.Title = "Signup";
}

.42_695 {
	overflow:hidden;
}
.e42_695 {
	background-color:rgba(241.00000083446503, 242.00000077486038, 243.00000071525574, 1);
	width:1920px;
	height:2114px;
	position:absolute;
}
.e42_697 {
	background-color:rgba(248.0000004172325, 249.00000035762787, 249.00000035762787, 1);
	width:1920px;
	height:50px;
	position:absolute;
	left:0px;
	top:4px;
}
.e42_698 {
	background-color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:787px;
	height:35px;
	position:absolute;
	left:596px;
	top:17px;
}
.42_698 {
	border:1px solid rgba(85.0000025331974, 79.33333620429039, 79.33333620429039, 1);
}
.e42_699 {
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:47px;
	height:17px;
	position:absolute;
	left:628px;
	top:26px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e42_701 {
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:28px;
	position:absolute;
	left:274px;
	top:26px;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e44_753 {
	width:185px;
	height:44px;
	position:absolute;
	left:1573px;
	top:13px;
}
.e42_748 {
	background-color:rgba(225.00000178813934, 236.00000113248825, 244.0000006556511, 1);
	width:79px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.42_748 {
	border:1px solid rgba(7.34451949596405, 61.12748332321644, 251.81250303983688, 1);
}
.e44_752 {
	color:rgba(7.34451949596405, 61.12748332321644, 251.81250303983688, 1);
	width:79px;
	height:19px;
	position:absolute;
	left:0px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e42_749 {
	background-color:rgba(10.000000353902578, 149.00000631809235, 255, 1);
	width:93px;
	height:44px;
	position:absolute;
	left:92px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e42_750 {
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:19px;
	position:absolute;
	left:92px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
        .e42_747 {
            width: 435px;
            height: 192px;
            position: absolute;
            left: 596px;
            top: 179px;
            background-image: url(https://cdn.discordapp.com/attachments/907721755601272842/1022816025684742165/unknown.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
.e46_3 {
	width:241px;
	height:19px;
	position:absolute;
	left:693px;
	top:752px;
}
.e44_756 {
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e46_2 {
	color:rgba(10.000000353902578, 149.00000631809235, 255, 1);
	width:57px;
	height:19px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e44_759 {
	background-color:rgba(255, 255, 255, 1);
	width:419px;
	height:329px;
	position:absolute;
	left:594px;
	top:389px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e44_764 {
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:24px;
	position:absolute;
	left:644px;
	top:429px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e44_765 {
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:19px;
	position:absolute;
	left:644px;
	top:530px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e44_768 {
	width:352px;
	height:53px;
	position:absolute;
	left:628px;
	top:621px;
}
.e44_766 {
	background-color:rgba(10.000000353902578, 149.00000631809235, 255, 1);
	width:352px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e44_767 {
	color:rgba(255, 255, 255, 1);
	width:352px;
	height:22px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e44_769 {
	color:rgba(0, 116.00000068545341, 204.00000303983688, 1);
	width:136px;
	height:19px;
	position:absolute;
	left:854px;
	top:534px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}




        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
    <div class=e42_695>
        <div class="e42_697"></div>
        <div class="e42_698"></div>
        <span class="e42_699">Search</span>
        <span class="e42_701">Help Desk </span>
        <div class=e44_753>
            <div class="e42_748"></div>
            <span class="e44_752">Log in</span>
            <div class="e42_749"></div>
            <span class="e42_750">Sign up</span>
        </div>

        <div class="e42_747"></div>

        <div class=e46_3>
            <span class="e44_756">Don’t have an account? </span>
            <span class="e46_2">Sign up</span>
        </div>

        <div class="e44_759"></div>
        <span class="e44_764">Email</span>
        <span class="e44_765">Password</span>
        <div class=e44_768>
            <div class="e44_766"></div>
            <span class="e44_767">Log in</span>
        </div>
        <span class="e44_769">Forgot password?</span>
    </div>
</body>
</html>





@*@{
        ViewBag.Title = "Signup";
    }

    <h2>Signup</h2>
    <p>Please insert your credentials</p>


    <div class="container">
        <form>
            <hr>
            <div>
                <label for="email"><b>Email</b></label>
                <input type="text" value="" placeholder="Insert your email" name="email" required>
            </div>
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" value="" placeholder="Insert your password" name="psw" required>
            </div>
            <div>
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" value="" placeholder="Repeat password" name="psw-repeat" required>
            </div>

            <p>When you create your account you must accept the <a href="#" style="color:dodgerblue">Terms and Conditions</a>.</p>

            <div class="clearfix">
                <button type="button" id="cancel_btn">Cancel</button>
                <button type="submit" id="signupbtn">Sign Up</button>
            </div>
        </form>
    </div>

    <script>
        let cancel = document.querySelector("#cancel_btn");
        let signup = document.querySelector("#signupbtn");


        cancel.addEventListener('click', function () {
            window.open("Index", "_self");
        });

        signup.addEventListener('click', function () {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert('There are some required fields!');
                return false;
            } else {
                window.open("Index", "_self");
            }
        });
    </script>*@


