
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>
<p>Please insert your credentials</p>


    <div class="container">
        <hr>
        <div>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Insert your email" name="email" required>
        </div>
        <div>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Insert your password" name="psw" required>
        </div>
        <div>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat password" name="psw-repeat" required>
        </div>
        
        <p>When you create your account you must accept the <a href="#" style="color:dodgerblue">Terms and Conditions</a>.</p>

        <div class="clearfix">
            <a class="nav-link" href="@Url.Action("Index","Home")"><button type="button" class="cancelbtn">Cancel</button></a>      
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>


