.37_552 { 
	overflow:hidden;
}.e37_552 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:2114px;
	position:absolute;
}.e37_558 { 
	background-color:rgba(248.0000004172325, 249.00000035762787, 249.00000035762787, 1);
	width:1920px;
	height:50px;
	position:absolute;
	left:214px;
	top:0px;
}.e37_559 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:787px;
	height:35px;
	position:absolute;
	left:608px;
	top:7px;
}.37_559 { 
	border:1px solid rgba(85.0000025331974, 79.33333620429039, 79.33333620429039, 1);
}.e37_560 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:47px;
	height:17px;
	position:absolute;
	left:617px;
	top:19px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e37_561 { 
	width:215px;
	height:33px;
	position:absolute;
	left:1408px;
	top:12px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e37_562 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:28px;
	position:absolute;
	left:273px;
	top:12px;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}.e37_563 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:157px;
	height:33px;
	position:absolute;
	left:314px;
	top:73px;
}.e37_564 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:325px;
	top:83px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e37_565 { 
	transform: rotate(-90.00000000000001deg);
	opacity:0.5;
	width:1419.0003662109375px;
	height:0px;
	position:absolute;
	left:470.5003662109375px;
	top:1419.000244140625px;
}.37_565 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e37_566 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:53px;
	height:19px;
	position:absolute;
	left:325px;
	top:122px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e37_567 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:44px;
	height:19px;
	position:absolute;
	left:351px;
	top:216px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e37_568 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:37px;
	height:19px;
	position:absolute;
	left:351px;
	top:182px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e37_569 { 
	width:101px;
	height:38px;
	position:absolute;
	left:1165px;
	top:74px;
}.e37_570 { 
	background-color:rgba(10.000000353902578, 149.00000631809235, 255, 1);
	width:101px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e37_571 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:15px;
	position:absolute;
	left:0px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e37_572 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:24px;
	position:absolute;
	left:478px;
	top:74px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e37_573 { 
	width:301px;
	height:564px;
	position:absolute;
	left:1516px;
	top:249px;
}.e37_574 { 
	width:301px;
	height:564px;
	position:absolute;
	left:0px;
	top:0px;
}.e37_575 { 
	background-color:rgba(253.0000001192093, 247.00000047683716, 226.0000017285347, 1);
	width:301px;
	height:558.052734375px;
	position:absolute;
	left:0px;
	top:5.9472761154174805px;
}.e37_576 { 
	background-color:rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
	width:301px;
	height:40.63971710205078px;
	position:absolute;
	left:0px;
	top:0px;
}.37_576 { 
	border:1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
}.e37_577 { 
	background-color:rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
	width:301px;
	height:40.63971710205078px;
	position:absolute;
	left:0px;
	top:143.725830078125px;
}.37_577 { 
	border:1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
}.e37_578 { 
	background-color:rgba(251.00000023841858, 243.00000071525574, 213.00000250339508, 1);
	width:301px;
	height:40.63971710205078px;
	position:absolute;
	left:0px;
	top:367.7398986816406px;
}.37_578 { 
	border:1px solid rgba(241.00000083446503, 229.00000154972076, 188.0000039935112, 1);
}.e37_579 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:210px;
	height:13.87697696685791px;
	position:absolute;
	left:39px;
	top:52.534271240234375px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e37_580 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:210px;
	height:13.87697696685791px;
	position:absolute;
	left:39px;
	top:69.3848876953125px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e37_581 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.699999988079071;
	width:93px;
	height:16.850614547729492px;
	position:absolute;
	left:9px;
	top:11.894552230834961px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e37_582 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.699999988079071;
	width:120px;
	height:12.885764122009277px;
	position:absolute;
	left:9px;
	top:155.62039184570312px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e37_583 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.699999988079071;
	width:120px;
	height:12.885764122009277px;
	position:absolute;
	left:9px;
	top:379.63446044921875px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e37_584 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:251px;
	height:30.72759246826172px;
	position:absolute;
	left:39px;
	top:97.13883972167969px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e37_585 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:262px;
	height:46.58699417114258px;
	position:absolute;
	left:39px;
	top:198.24252319335938px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e37_586 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:262px;
	height:30.72759246826172px;
	position:absolute;
	left:39px;
	top:260.6889343261719px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e37_587 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:232px;
	height:28.745166778564453px;
	position:absolute;
	left:39px;
	top:323.13531494140625px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e37_588 { 
	color:rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
	width:181px;
	height:26.762741088867188px;
	position:absolute;
	left:38px;
	top:422.256591796875px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e37_589 { 
	width:59px;
	height:36px;
	position:absolute;
	left:1207px;
	top:137px;
}.e37_594 { 
	background-color:rgba(255, 255, 255, 1);
	width:59px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}.37_594 { 
	border:0.5px solid rgba(72.24999949336052, 65.92812672257423, 65.92812672257423, 1);
}.e37_599 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:59px;
	height:15px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e37_658 { 
	width:299px;
	height:46px;
	position:absolute;
	left:1518px;
	top:813px;
}.e37_659 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	opacity:0.699999988079071;
	width:299px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}.37_659 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e37_660 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:96px;
	height:17px;
	position:absolute;
	left:15px;
	top:14px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e37_661 { 
	width:299px;
	height:50px;
	position:absolute;
	left:1518px;
	top:859px;
}.e37_662 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(248.0000004172325, 249.00000035762787, 249.00000035762787, 1);
	opacity:0.699999988079071;
	width:299px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.37_662 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e37_663 { 
	color:rgba(0, 116.00000068545341, 204.00000303983688, 1);
	opacity:0.8999999761581421;
	width:143px;
	height:14px;
	position:absolute;
	left:5px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e37_675 { 
	width:985px;
	height:621px;
	position:absolute;
	left:478px;
	top:249px;
}.e38_690 { 
	width:49px;
	height:123px;
	position:absolute;
	left:0px;
	top:0px;
}.e37_673 { 
	background-color:rgba(0, 0, 0, 1);
	width:49px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.37_673 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e37_674 { 
	background-color:rgba(0, 0, 0, 1);
	width:49px;
	height:28px;
	position:absolute;
	left:0px;
	top:123px;
}.37_674 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e38_692 { 
	width:49px;
	height:123px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/group_16_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e37_683 { 
	width:933px;
	height:621px;
	position:absolute;
	left:52px;
	top:0px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e37_684 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:34px;
	position:absolute;
	left:14px;
	top:45px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}