@{
    ViewBag.Title = "Upvote";
}

<!DOCTYPE html>

<form>
<h2>Question to vote on</h2>

    <div class="form-field">
        <button class="btn" type="submit">Up vote</button>
        <button class="btn" type="submit">Down vote</button>
    </div>
</form>
